body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}



.container {
    margin: 20px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
